<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="icon" href="{{ url_for('static', filename='logo-mentah.ico') }}" type="image/x-icon" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/de152fe019.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <title>WisataKita | Register</title>
</head>
<script>
    function toggleNavbar() {
        let target = $('#navbarBasicExample');
        $('.navbar-burger').toggleClass('is-active');
        target.toggleClass('is-active');
    }
</script>

<body>
    <div class="nav">
        <nav class="navbar" id="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                    <img src="../static/WisataKitaGreen.png" alt="" class="title is-4 is-logo">
                </a>

                <!-- Toggle button for mobile -->
                <a role="button" class="navbar-burger is-light" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample" onclick="toggleNavbar()">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start navbar-center">
                    <a class="navbar-item home" href="/">Home</a>
                    <a class="navbar-item" href="/discover">Discover</a>
                    {% if logged_in %}
                    <a class="navbar-item" href="/cekpesanan/{{user_info.name}}">Cek Pesanan</a>
                    {% endif %}
                </div>

                <div class="navbar-end navbar-auth">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-masuk" href="/signin">Masuk</a>
                            <a class="button is-daftar" href="/signup">Daftar</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <section class="container reg-form">
            <div class="columns is-multiline">
                <div class="column is-8 is-offset-2 register">
                    <div class="columns">
                        <div class="column left">
                            <img src="../static/WisataKitaGreen.png" alt="" class="title is-4">
                            <h2 class="subtitle colored is-4">Booking tiket mudah & nyaman</h2>
                            <p>Daftar mudah cukup menggunakan e-mail</p>
                        </div>
                        <div class="column right has-text-centered">
                            <h1 class="title is-4">Daftar Sekarang!</h1>
                            <p class="description">Buat akun dan nikmati fitur penuh website kami!</p>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-medium is-input-reg" type="text" placeholder="Nama"
                                        id="name">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-medium is-input-reg" type="email" placeholder="Email"
                                        id="email">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-medium is-input-reg" type="password" placeholder="Password"
                                        id="password">
                                </div>
                            </div>
                            <button class="button is-block is-fullwidth is-medium is-btn-regis"
                                onclick="signup()">Register</button>
                            <br />
                            <small><em>Sudah punya akun?</em><em><a href="/signin"> Login</a></em></small>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


</body>

</html>